<!DOCTYPE html>
<html>
  <head>
    <title>Maxwell James Oskam Foundation</title>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- <link href="assets/stylesheets/bootstrap.min.css" rel="stylesheet"> -->
  </head>

  <body>
    <%= render :partial => 'index/header' %>
    <%= yield %>
    <%= render :partial => 'index/footer'%>
  </body>
</html>
